<div class="aboutMainBox">
    <h4>Welcome to <b>Airport monitor</b> sample app !</h4>

    <div class="appDescription">
        It's a SPA (Single Page Application) using AngularJS and REST.<br>
        Developed in Java 1.8 with use of IDEA IntelliJ 15. More about technologies below.
    </div>

    <div class="appLogic">
        Application is developed to test and learn Spring Websockets API. Currently it has no database only mocks.

    </div>

    <div class="allTechnologies">

    <div class="technologiesLeft">
        <div class="technologyBox">
            Frontend :<br>
            <ul>
                <li>HTML5</li>
                <li>CSS</li>
                <li>AngularJS</li>
                <li>STOCK.js</li>
            </ul>
        </div>

        <div class="technologyBox">
            Backend :<br>
            <ul>
                <li>Java 1.8</li>
                <li>Lombok 1.16.4</li>
                <li>JUnit 4.12</li>
            </ul>
        </div>
    </div>

    <div class="technologiesRight">
        <div class="technologyBox">
            Build tools :<br>
            <ul>
                <li>IDEA IntelliJ 15</li>
                <li>Maven 3</li>
                <li>Spring Boot</li>
                <li>GIT</li>
            </ul>
        </div>

        <div class="technologyBox">
            Spring Framework :<br>
            <ul>
                <li>Spring Boot 1.2.7</li>
                <li>Core</li>
                <li>Test Framework</li>
                <li>Web Sockets</li>
                <li>REST</li>
            </ul>
        </div>
    </div>
        <div style="clear: both;"></div>
    </div>



</div>